@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Pretendard', sans-serif;
*/
html {
  color: #222;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Montserrat','Pretendard', sans-serif;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: #222;
}

hr.warpTitLine {
  width: 100%;
  height: 1px;
  background: #ddd;
  border: 0;
  margin: 30px 0 0;
}

section:last-child {
  margin-bottom: 15%;
}

.agreeCon {
  margin-top: 40px;
}

.agreeCon .serviceCheck h4, .agreeCon .personalCheck h4 {
  font-size: 18px;
  color: #222;
  font-weight: 600;
  text-align: left;
  line-height: 1;
  height: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 15px;
  position: relative;
}

.agreeCon .serviceCheck h4 span, .agreeCon .personalCheck h4 span {
  display: inline-block;
  position: absolute;
  top: 3px;
}

.agreeCon .serviceCheck > div.agreeTxt, .agreeCon .personalCheck > div.agreeTxt {
  width: 100%;
  height: 200px;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  overflow-y: scroll;
  font-size: 15px;
  color: #222;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
}

.agreeCon .serviceCheck > div {
  margin-bottom: 50px;
}

.joinBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.joinBtn a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 160px;
  height: 50px;
  font-size: 18px;
  color: #222;
  font-weight: 400;
  text-align: center;
  line-height: 50px;
}

.joinBtn > a.agreeYes {
  background: #333;
  color: #fff;
  margin-right: 30px;
}

.joinBtn > a.agreeNo {
  background: #ddd;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #fff;
  border: 2px solid #666;
  position: relative;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[id="serviceAgree"]:checked + label::after,
input[id="personalAgree"]:checked + label::after {
  content: '✔';
  font-size: 15px;
  color: #666;
  width: 12px;
  height: 15px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.selecCon {
  margin-top: 40px;
}

.selecCon .joinGuide {
  width: auto;
}

.selecCon .joinGuide > ul li {
  font-size: 16px;
  color: #222;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 10px;
}

.selecCon .joinGuide > ul li::before {
  content: '› ';
  font-weight: bold;
  margin-right: 10px;
}

.selecCon .joinSelec {
  width: 420px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.selecCon .joinSelec a {
  border: 1px solid #ddd;
  display: block;
  width: 420px;
  height: 80px;
  margin-bottom: 20px;
  font-size: 17px;
  color: #222;
  font-weight: 400;
  text-align: left;
  line-height: 50px;
  position: relative !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.selecCon .joinSelec a span {
  display: block;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.selecCon .joinSelec a span img {
  margin: 15px 20px 0 0;
}

.selecCon .joinSelec a::after {
  content: '';
  display: block;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #222;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.selecCon .joinSelec a.joinD {
  font-size: 17px;
  color: #222;
  font-weight: 400;
  text-align: center;
  line-height: 80px;
}

.selecCon .joinSelec a.joinD:hover {
  color: #fff;
  border: 1px solid #222;
}

.selecCon .joinSelec a.joinN {
  font-size: 17px;
  color: #222;
  font-weight: 400;
  text-align: center;
  line-height: 80px;
}

.selecCon .joinSelec a.joinN::after {
  background: #2db400;
}

.selecCon .joinSelec a.joinN:hover {
  color: #fff;
  border: 1px solid #2db400;
}

.selecCon .joinSelec a.joinK {
  font-size: 17px;
  color: #222;
  font-weight: 400;
  text-align: center;
  line-height: 80px;
}

.selecCon .joinSelec a.joinK::after {
  background: #ffe600;
}

.selecCon .joinSelec a.joinK:hover {
  color: #222;
  border: 1px solid #ffe600;
}

.selecCon .joinSelec a.joinG {
  font-size: 17px;
  color: #222;
  font-weight: 400;
  text-align: center;
  line-height: 80px;
}

.selecCon .joinSelec a.joinG::after {
  background: #f4f4f4;
}

.selecCon .joinSelec a.joinG:hover {
  color: #222;
  border: 1px solid #f4f4f4;
}

.selecCon .joinSelec a.joinD:hover::after, .selecCon .joinSelec a.joinN:hover::after,
.selecCon .joinSelec a.joinK:hover::after, .selecCon .joinSelec a.joinG:hover::after {
  width: 100%;
  z-index: -1;
}

.joinInfoCon {
  margin-top: 40px;
}

.infoInput > div {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 15px;
  position: relative;
}

.infoInput > div p {
  font-size: 14px;
  color: #666;
  font-weight: 400;
  text-align: left;
  line-height: 1;
}

.infoInput > div a {
  display: inline-block;
  background: #666;
  height: 40px;
  position: absolute;
}

.infoInput > div span {
  font-size: 14px;
  color: #666;
  font-weight: 400;
  text-align: left;
  line-height: 1;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
}

.infoInput label.tit {
  display: inline-block;
  font-size: 16px;
  color: #222;
  font-weight: 600;
  text-align: left;
  line-height: 1;
}

.infoInput input[type="text"], .infoInput input[type="password"],
.infoInput input[type="tel"] {
  font-family: 'Montserrat','Pretendard';
  height: 40px;
  border: 1px solid #ddd;
  outline: 0;
  font-size: 15px;
  color: #222;
  font-weight: 400;
  text-align: left;
  line-height: 1;
  padding: 5px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.joinEndCon .titBar {
  width: 50px;
  height: 5px;
  border: 0;
  background: #222;
  margin: 50px 0px 15px;
}

.joinEndCon h4 {
  font-size: 20px;
  color: #222;
  font-weight: 600;
  text-align: left;
  line-height: 1;
  margin: 15px 0px;
}

.joinEndCon p {
  font-size: 16px;
  color: #222;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
}

.loginCon {
  position: relative;
}

.loginCon .loginArea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.loginCon .loginArea p {
  font-size: 16px;
  color: #222;
  font-weight: 400;
  text-align: right;
  line-height: 1;
}

.loginCon .loginArea p:hover {
  text-decoration: underline;
}

.loginCon .loginJoin {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.loginCon .loginJoin p {
  font-size: 24px;
  color: #222;
  font-weight: 400;
  text-align: center;
  line-height: 1.3;
}

.loginCon .loginJoin .loginJoinD {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 40px;
}

.loginCon .loginJoin .loginJoinD > a {
  display: block;
  width: 450px;
  height: 70px;
  border: 1px solid #222;
  font-size: 17px;
  color: #222;
  font-weight: 500;
  text-align: center;
  line-height: 70px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
  position: relative;
}

.loginCon .loginJoin .loginJoinD > a::after {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #222;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.loginCon .loginJoin .loginJoinD > a:hover {
  color: #fff;
}

.loginCon .loginJoin .loginJoinD > a:hover::after {
  width: 100%;
  z-index: -1;
}

.loginCon .loginJoin .loginSns {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginCon .loginJoin .loginSns > div {
  width: 30%;
}

.loginCon .loginJoin .loginSns > div > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aFindTab {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 4px solid #222;
  position: relative;
}

.aFindTab > li {
  width: 49%;
  height: 100%;
  background: #f4f4f4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  color: #222;
  font-weight: 500;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
}

.aFindTab > li.active {
  height: 74px;
  background: #fff;
  border-top: 3px solid #222;
  border-left: 3px solid #222;
  border-right: 3px solid #222;
}

.aFindCon {
  height: 100%;
  position: relative;
}

.aFindCon > div {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
}

.aFindCon > div.active {
  z-index: 99;
}

.aFindCon > div {
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

.aFindCon #aFindFirst, .aFindCon #aFindSecond {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aFindCon #aFindFirst form, .aFindCon #aFindSecond form {
  text-align: center;
}

.aFindCon #aFindSecond p:nth-child(2) {
  font-size: 16px;
  color: #f42539;
  font-weight: 500;
  text-align: left;
  line-height: 1.3;
  margin-top: 20px;
}

.aFindCon #aFindSecond p:nth-child(3) {
  font-size: 16px;
  color: #222;
  font-weight: 500;
  text-align: left;
  line-height: 1.3;
  margin-top: 20px;
}

.aFindCon #aFindSecond p:nth-child(3) .red {
  color: #f42539;
}

.aFindCon .blank {
  margin-left: 10px;
}

input[name="loginId"], input[name="loginPw"], input[name="accountName"],
input[name="accountPhone"], input[name="accountEmail"], input[name="accountId"] {
  font-family: 'Montserrat','Pretendard';
  height: 60px;
  border: 1px solid #ddd;
  outline: 0;
  font-size: 15px;
  color: #222;
  font-weight: 400;
  text-align: left;
  line-height: 1;
  padding: 5px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

button {
  font-family: 'Montserrat','Pretendard';
  height: 60px;
  background: #222;
  border: 0;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.mypageBtn {
  margin-top: 60px;
}

.mypageBtn a {
  display: block;
  height: 70px;
  border: 1px solid #222;
  font-size: 17px;
  color: #222;
  font-weight: 500;
  text-align: center;
  line-height: 70px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
  position: relative;
}

.mypageBtn a::after {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #222;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mypageBtn a:hover {
  color: #fff;
}

.mypageBtn a:hover::after {
  width: 100%;
  z-index: -1;
}

.mypageTab {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 4px solid #222;
  position: relative;
}

.mypageTab > li {
  width: 32%;
  height: 100%;
  background: #f4f4f4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  color: #222;
  font-weight: 500;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
}

.mypageTab > li.active {
  height: 74px;
  background: #fff;
  border-top: 3px solid #222;
  border-left: 3px solid #222;
  border-right: 3px solid #222;
}

/*
.mpContentsCon{
    height: 100%;
    position: relative;
    >div{
        width:100%; height: 100%;
        background: #fff;
        position: absolute;
        &.active{z-index:99;}
    }
}
*/
.mpContentsCon > div {
  margin-top: 60px;
}

.mpContentsCon .userInfo .joinBtn > a:last-child {
  margin-left: 30px;
}

@media all and (min-width: 769px) {
  html, body {
    position: relative;
  }
  #search, .allMnwarp {
    top: 0px;
  }
  header {
    border-bottom: 1px solid #ddd;
  }
  footer {
    position: relative;
    margin-top: 100px;
  }
  .pageWarp {
    width: 1400px;
    margin: 0 auto;
  }
  .pageTit {
    margin: 130px 0px 60px;
  }
  .pageTit h3 {
    font-size: 35px;
    color: #222;
    font-weight: 700;
    text-align: center;
    line-height: 1;
  }
  .pageTit p {
    margin: 20px 0px 10px;
    font-size: 18px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 1;
  }
  .pageTit p span {
    font-weight: 600;
  }
  .pageTit p img {
    margin: 5px 10px 0px;
  }
  .pageTit hr.titLine {
    width: 100%;
    height: 4px;
    background: #222;
    border: 0;
  }
  .warpTit {
    height: 80px;
    position: relative;
  }
  .warpTit h3 {
    font-size: 30px;
    color: #222;
    font-weight: 600;
    text-align: left;
    line-height: 1;
  }
  .warpTit p {
    font-size: 16px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 1.2;
    margin-top: 10px;
  }
  .warpTit .agreeNum {
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .warpTit .agreeNum li {
    font-size: 45px;
    color: #222;
    font-weight: 200;
    text-align: left;
    line-height: 1;
    padding-right: 50px;
    background: url("../images/join_arr.png") no-repeat 65% 50%;
  }
  .warpTit .agreeNum li:last-child {
    padding: 0;
    background: none;
  }
  .warpTit .agreeNum li.active {
    font-size: 45px;
    color: #f42539;
    font-weight: 600;
    text-align: left;
    line-height: 1;
  }
  .selecCon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .selecCon .joinGuide {
    width: auto;
  }
  .selecCon .joinGuide > ul > li br {
    display: none;
  }
  .infoInput > div {
    height: 60px;
  }
  .infoInput > div p {
    margin: 5px 0px 0px 184px;
  }
  .infoInput > div a {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    width: 120px;
    left: 550px;
  }
  .infoInput > div br {
    display: none;
  }
  .infoInput > div span {
    padding-left: 20px;
    top: 25px;
  }
  .infoInput label.tit {
    width: 180px;
  }
  .infoInput input[type="text"], .infoInput input[type="password"],
  .infoInput input[type="tel"] {
    width: 350px;
  }
  .infoInput .joinPw, .infoInput .joinNameSex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .infoInput .joinPw > div, .infoInput .joinNameSex > div {
    width: 50%;
  }
  .infoInput .joinPw {
    margin-bottom: 35px;
  }
  .infoInput .joinNameSex .joinsex {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .infoInput .joinNameSex .joinsex label, .infoInput .joinNameSex .joinsex input {
    margin-top: 13px;
  }
  .infoInput .joinNameSex .joinsex #man {
    margin-left: 50px;
  }
  .infoInput input[type="tel"] {
    width: 107px;
  }
  .infoInput .joinAddr {
    position: relative;
    height: 110px;
  }
  .infoInput .joinAddr .addSub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 184px;
    bottom: 20px;
  }
  .infoInput .joinAddr .addSub input[name="addr3"] {
    margin-left: 16px;
  }
  .loginCon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .loginCon > div {
    width: 700px;
    height: 380px;
  }
  .loginCon .loginArea {
    border-right: 1px solid #ddd;
  }
  .loginCon .loginArea p {
    margin: 10px 220px 0px 0px;
  }
  .loginCon .loginArea form {
    padding-top: 50px;
  }
  .loginCon .loginJoin .loginSns > div {
    width: 30%;
  }
  .loginCon .loginJoin .loginSns > div > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 17px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 1.2;
  }
  .loginCon .loginJoin .loginSns > div > a > span:first-child {
    margin-right: 10px;
  }
  .aFindWarp {
    height: 450px;
  }
  .aFindCon #aFindFirst, .aFindCon #aFindSecond {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aFindCon #aFindFirst > div, .aFindCon #aFindSecond > div {
    width: 700px;
    height: 100%;
  }
  .aFindCon #aFindFirst > div:first-child, .aFindCon #aFindSecond > div:first-child {
    border-right: 1px solid #ddd;
  }
  .aFindCon #aFindFirst p, .aFindCon #aFindSecond p {
    font-size: 24px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 1.3;
  }
  input[name="loginId"], input[name="loginPw"], input[name="accountName"], input[name="accountPhone"], input[name="accountEmail"], input[name="accountId"] {
    width: 480px;
  }
  button {
    width: 480px;
  }
  .mypageBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mypageBtn a {
    width: 32%;
  }
}

@media all and (max-width: 768px) {
  header {
    border-bottom: 1px solid #222;
  }
  footer {
    z-index: 9999;
    margin-top: 200px;
  }
  .pageWarp {
    width: 100%;
  }
  .pageTit {
    margin: 110px 0px 50px;
    position: relative;
  }
  .pageTit h3 {
    font-size: 35px;
    color: #222;
    font-weight: 700;
    text-align: center;
    line-height: 1;
  }
  .pageTit p {
    display: none;
  }
  .pageTit hr.titLine {
    width: 100%;
    height: 4px;
    background: #222;
    border: 0;
    margin-top: 30px;
  }
  .warpTit {
    height: 85px;
    position: relative;
  }
  .warpTit h3 {
    font-size: 24px;
    color: #222;
    font-weight: 600;
    text-align: left;
    line-height: 1;
  }
  .warpTit p {
    font-size: 14px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 1.2;
    margin-top: 10px;
  }
  .warpTit .agreeNum {
    display: none;
  }
  .agreeCon, .selecCon, .joinInfoCon, .joinEndCon, .loginCon,
  .aFindCon, .mypageBtn, .mpContentsCon {
    margin: 40px 30px 0;
  }
  .blank {
    margin-left: 20px;
  }
  .selecCon > div {
    margin: 0 auto;
  }
  .selecCon .joinSelec {
    margin-top: 40px;
  }
  .infoInput > div {
    height: auto;
  }
  .infoInput > div p {
    margin: 5px 0px 25px 0px;
  }
  .infoInput > div a {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    width: 100px;
    margin-left: 10px;
    top: 21px;
  }
  .infoInput > div span {
    left: 0;
    bottom: 10px;
  }
  .infoInput input {
    margin: 5px 0px 30px;
  }
  .infoInput input[type="text"], .infoInput input[type="password"],
  .infoInput input[type="tel"] {
    width: 100%;
  }
  .infoInput input[name="id"], .infoInput input[name="addr"] {
    width: 74%;
  }
  .infoInput input[type="password"] {
    margin-bottom: 0;
  }
  .infoInput input[name="sex"] {
    margin-top: 10px;
  }
  .infoInput input[type="tel"] {
    width: 31%;
  }
  .infoInput input[name="addr"], .infoInput input[name="addr2"] {
    margin: 5px 0px;
  }
  .infoInput #man, .infoInput #smsno, .infoInput #emailno {
    margin-left: 50px;
  }
  .infoInput .joinPhone {
    margin-top: 25px;
  }
  .loginCon > div {
    width: 100%;
    height: 360px;
  }
  .loginCon .loginArea p {
    margin: 10px 0px 0px 0px;
  }
  .loginCon .loginArea form {
    padding-top: 20px;
  }
  .loginCon .loginJoin {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    text-align: center;
  }
  .loginCon .loginJoin p {
    font-size: 24px;
    color: #222;
    font-weight: 400;
    text-align: center;
    line-height: 1.3;
  }
  .loginCon .loginJoin .loginSns > div {
    width: 32%;
    margin-right: 10px;
  }
  .loginCon .loginJoin .loginSns > div > a {
    font-size: 15px;
    color: #222;
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
  }
  .loginCon .loginJoin .loginSns > div > a br {
    display: none;
  }
  .aFindWarp {
    height: 730px;
  }
  .aFindCon > div {
    height: 100%;
    margin: 60px auto 0;
  }
  .aFindCon #aFindFirst > div:first-child, .aFindCon #aFindSecond > div:first-child {
    margin-bottom: 50px;
  }
  .aFindCon #aFindFirst p, .aFindCon #aFindSecond p {
    font-size: 22px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 1.3;
  }
  input[name="loginId"], input[name="loginPw"], input[name="accountName"], input[name="accountPhone"], input[name="accountEmail"], input[name="accountId"] {
    width: 100%;
  }
  button {
    width: 100%;
  }
  .mypageBtn > a {
    width: 100%;
    margin-bottom: 20px;
  }
  .userInfo input[name="id"] {
    width: 100%;
  }
  footer {
    z-index: 9999;
    margin-top: 250px;
  }
}
/*# sourceMappingURL=member.css.map */