@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Pretendard', sans-serif;
*/
html {
  color: #222;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Montserrat','Pretendard', sans-serif;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: #222;
}

/* 공통 */
.pageTit {
  margin: 130px 0px 60px;
  position: relative;
}

.pageTit h3 {
  font-size: 35px;
  color: #222;
  font-weight: 700;
  text-align: center;
  line-height: 1;
}

.pageTit hr.titLine {
  width: 100%;
  height: 4px;
  background: #222;
  border: 0;
}

.pagenation {
  margin: 50px 0px 100px;
}

.pagenation .pager {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagenation .pager > li.pageNum a {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: #222;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  background: #f0f0f0;
  margin: 0px 10px;
}

.pagenation .pager > li.pageNum a:hover, .pagenation .pager > li.pageNum a:focus {
  background: #222;
  color: #fff;
}

.pagenation .pager > .pagePrev, .pagenation .pager > .pageNext {
  margin: 0px 25px;
}

.pagenation .pager > .pagePrev a, .pagenation .pager > .pageNext a {
  display: block;
  width: 50px;
  height: 40px;
  font-size: 18px;
  color: #222;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  text-decoration: underline;
}

.lendCon, .createCon, .artistCon, .ntcBoardCon, .memTiCon, .mapCon {
  margin: 60px 0px;
}

.lendCon .titBar, .createCon .titBar, .artistCon .titBar, .ntcBoardCon .titBar, .memTiCon .titBar, .mapCon .titBar {
  width: 50px;
  height: 5px;
  border: 0;
  background: #222;
  margin: 50px 0px 15px;
}

.lendCon h4, .createCon h4, .artistCon h4, .ntcBoardCon h4, .memTiCon h4, .mapCon h4 {
  font-size: 20px;
  color: #222;
  font-weight: 600;
  text-align: left;
  line-height: 1;
  margin: 15px 0px;
}

/*두다재단*/
hr.ddBar {
  width: 100%;
  height: 1px;
  background: #ddd;
  border: 0;
  margin: 50px 0px 0px;
}

.ddFacilityCon, .ddSeatCon {
  margin-top: 50px;
}

div.introdd > p:first-child {
  font-size: 30px;
  color: #222;
  font-weight: 500;
  text-align: right;
  line-height: 1;
  margin: 20px 0 10px;
}

div.introdd > p:last-child {
  font-size: 20px;
  color: #222;
  font-weight: 300;
  text-align: right;
  line-height: 1;
}

ul.facilityArea li {
  margin-top: 50px;
}

ul.facilityArea li:first-child {
  margin-top: 0;
}

ul.facilityArea li > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

ul.facilityArea li .imgArea {
  width: inherit;
}

ul.facilityArea li .imgArea img {
  width: 100%;
}

ul.facilityArea li .txtArea > p:first-child {
  font-size: 24px;
  color: #222;
  font-weight: 600;
  text-align: left;
  line-height: 1;
  margin: 20px 0px;
}

ul.facilityArea li .txtArea > p:last-child {
  font-size: 16px;
  color: #222;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
}

ul.ddSeatArea li p:first-child {
  font-size: 24px;
  color: #222;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  margin: 50px 0px 20px;
}

ul.ddSeatArea li > div.seatArea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  width: inherit;
}

/*공연/전시 일정*/
#List {
  width: 100%;
}

#List div.perform {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#List div.perform ul.inner {
  width: 100%;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#List div.perform ul.inner li:first-child {
  width: 240px;
  height: 320px;
}

#List div.perform ul.inner li:last-child {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 30px;
  font-size: 18px;
  color: #222;
  font-weight: 400;
  text-align: left;
  line-height: 1;
}

#List div.perform ul.inner li:last-child .pfGenre, #List div.perform ul.inner li:last-child .pfTime {
  margin-top: 20px;
}

#List div.perform ul.inner li:last-child h4 {
  font-size: 24px;
  color: #222;
  font-weight: 600;
  text-align: left;
  line-height: 1;
  margin-top: 5px;
}

#List div.perform ul.inner li:last-child .pfPlace {
  position: absolute;
  bottom: 50px;
}

#List div.perform ul.inner li:last-child .pfDay {
  display: inline-block;
  color: #666;
  margin: 15px 0px;
}

#List div.perform ul.inner li:last-child .listBtn {
  position: absolute;
}

#List div.perform ul.inner li:last-child .listBtn > a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

#List div.perform ul.inner li:last-child .listBtn > a:hover img:nth-child(1) {
  display: none;
}

#List div.perform ul.inner li:last-child .listBtn > a:hover img:nth-child(2) {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#List div.perform ul.inner li:last-child .listBtn > a img:nth-child(2) {
  display: none;
}

/*공연/전시 상세페이지*/
#pageDetail {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .pdGenre {
  font-size: 20px;
  color: #222;
  font-weight: 400;
  text-align: left;
  line-height: 1;
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .pdlName {
  font-size: 50px;
  color: #222;
  font-weight: 500;
  text-align: left;
  line-height: 1;
  margin: 5px 0px 15px;
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .pdPlace {
  font-size: 20px;
  color: #222;
  font-weight: 400;
  text-align: left;
  line-height: 1;
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .pdPlace .pdDay {
  display: inline-block;
  color: #666;
  margin: 0px 0px 10px;
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) hr {
  width: 100%;
  height: 1px;
  background: #ddd;
  border: 0;
  margin: 30px 0px;
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .pdSchedule li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .pdSchedule li > p:last-child {
  font-size: 16px;
  color: #666;
  font-weight: 400;
  text-align: left;
  line-height: 1.6;
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .pdAlert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .pdAlert > li:last-child {
  margin: 3px 0px 0px 10px;
  font-size: 14px;
  color: #f42539;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .detailBtn {
  margin-top: 45px;
  position: relative;
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .detailBtn > a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  border: 1px solid #222;
  font-size: 18px;
  color: #222;
  font-weight: 500;
  text-align: center;
  line-height: 70px;
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .detailBtn > a img {
  vertical-align: middle;
  position: absolute;
  right: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .detailBtn > a:hover img:nth-child(1) {
  display: none;
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .detailBtn > a:hover img:nth-child(2) {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .detailBtn > a img:nth-child(2), #pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .detailBtn > a br {
  display: none;
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .detailBtn > a::after {
  content: '';
  display: block;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #f42539;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .detailBtn > a:hover {
  color: #fff;
  border: 1px solid #f42539;
}

#pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .detailBtn > a:hover::after {
  width: 100%;
  z-index: -1;
}

#pageDetail > div.conWarp hr {
  width: 100%;
  height: 4px;
  background: #222;
  border: 0;
  margin: 0;
}

#pageDetail .tab_menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#pageDetail .tab_menu li {
  cursor: pointer;
}

#pageDetail .tab_menu li.active {
  border-bottom: 3px solid #f42539;
}

#pageDetail .tab_con {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  position: relative;
}

#pageDetail .tab_con div {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
}

#pageDetail .tab_con div.active {
  z-index: 999;
}

#pageDetail .tab_con #firstCon {
  width: 100%;
  height: 100%;
  background: #fff;
}

#pageDetail .tab_con #firstCon > h4 {
  font-weight: 600;
}

#pageDetail .tab_con #firstCon > p {
  margin-bottom: 30px;
}

#pageDetail .tab_con #secondCon, #pageDetail .tab_con #thirdCon, #pageDetail .tab_con #fourthCon {
  text-align: center;
}

/*대관*/
.lendWarp {
  height: 1400px;
}

.lendWarp .lendDown {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 144px;
  height: 35px;
  margin: 10px 0 0;
  border: 1px solid #ddd;
  cursor: pointer;
}

.lendWarp .lendDown img {
  margin: 8px 5px 0px 0px;
}

.lendWarp .lednPay {
  margin: 10px 0px 50px;
  width: 100%;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  border-collapse: collapse;
}

.lendWarp .lednPay th, .lendWarp .lednPay td {
  height: 40px;
  border: 1px solid #ddd;
  vertical-align: middle;
}

.lendWarp .lednPay th:first-child {
  border-left: 0;
}

.lendWarp .lednPay th:last-child {
  border-right: 0;
}

.lendWarp .lednPay td:last-child {
  border-right: 0;
}

.lendTab {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 4px solid #222;
  position: relative;
}

.lendTab > li {
  width: 49%;
  height: 100%;
  background: #f4f4f4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  color: #222;
  font-weight: 500;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
}

.lendTab > li.active {
  height: 74px;
  background: #fff;
  border-top: 3px solid #222;
  border-left: 3px solid #222;
  border-right: 3px solid #222;
}

.lendCon {
  width: 100%;
  height: 100%;
  position: relative;
}

.lendCon > div {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
}

.lendCon > div.active {
  z-index: 999;
}

/*창작자 지원*/
.createWarp > hr, .artistWarp > hr {
  width: 100%;
  height: 1px;
  background: #ddd;
  border: 0;
  margin: 50px 0px 0px;
}

.createWarp > img, .artistWarp > img {
  width: 100%;
}

.guideList > li::before {
  content: '※ ';
}

.artistWarp .artistCon {
  margin-top: 60px;
}

.artistWarp .artistCon > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.artistWarp .artistCon > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*공지사항*/
.ntcBoardWarp, .qnaWarp {
  position: relative;
}

.ntcBoardSch {
  height: 60px;
  margin: 0 auto 60px;
  position: relative;
}

.ntcBoardSch form {
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.ntcBoardSch .nschTxt {
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  outline: 0;
}

.ntcBoardSch .nschImg {
  margin-left: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ntcBoardCon {
  margin-bottom: 80px;
}

.ntcBoardCon .ntcBoardList {
  width: 100%;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
}

.ntcBoardCon .ntcBoardList caption {
  display: none;
}

.ntcBoardCon .ntcBoardList .ntcbg {
  display: inline-block;
  background: #222;
  border-radius: 25px;
}

/*자주묻는질문*/
.qnaCon > div:nth-child(2) {
  position: relative;
}

.qnaCon .qnaList {
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  width: 100%;
}

.qnaCon .qnaList li {
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  cursor: pointer;
}

.qnaCon .qnaList li:hover {
  border: 1px solid #222;
}

.qnaCon .qnaList .question {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.qnaCon .qnaList .question::before {
  content: 'Q';
}

.qnaCon .qnaList .question .qnaOpen {
  position: absolute;
  top: 25px;
}

.qnaCon .qnaList > .answer {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f4f4f4;
  padding: 40px 145px;
  position: relative;
}

.qnaCon .qnaList > .answer span {
  position: absolute;
}

/*회원/예매안내*/
.memTiWarp {
  height: 680px;
}

.memTiWarp .memTiTab {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 4px solid #222;
  position: relative;
}

.memTiWarp .memTiTab > li {
  width: 49%;
  height: 100%;
  background: #f4f4f4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  color: #222;
  font-weight: 500;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
}

.memTiWarp .memTiTab > li.active {
  height: 74px;
  background: #fff;
  border-top: 3px solid #222;
  border-left: 3px solid #222;
  border-right: 3px solid #222;
}

.memTiWarp .memTiCon {
  width: 100%;
  height: 100%;
  position: relative;
}

.memTiWarp .memTiCon > div {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
}

.memTiWarp .memTiCon > div.active {
  z-index: 999;
}

.memTiWarp .memTiCon > div p {
  line-height: 1.5;
}

/*오시는길*/
.mapCon > p.add {
  font-size: 16px;
  color: #222;
  font-weight: 600;
  text-align: left;
  line-height: 1;
}

.mapCon > hr.line {
  width: 100%;
  height: 1px;
  margin: 0;
  border: 0;
  background: #ddd;
}

.mapCon > ul {
  margin-bottom: 50px;
}

.mapCon > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.mapCon > ul li > P:first-child {
  width: 120px;
}

/*개인정보처리방침 등*/
.personalTab {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 4px solid #222;
  position: relative;
}

.personalTab > li {
  width: 32%;
  height: 100%;
  background: #f4f4f4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  color: #222;
  font-weight: 500;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
}

.personalTab > li.active {
  height: 74px;
  background: #fff;
  border-top: 3px solid #222;
  border-left: 3px solid #222;
  border-right: 3px solid #222;
}

.personalCon {
  height: 100%;
  position: relative;
}

.personalCon > div {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
}

.personalCon > div.active {
  z-index: 999;
}

.personalCon, .ethicsCon {
  margin-top: 50px;
}

.personalCon h4, .ethicsCon h4 {
  font-size: 16px;
  color: #222;
  font-weight: 700;
  text-align: left;
  line-height: 1;
  margin-bottom: 10px;
}

.personalCon p, .ethicsCon p {
  font-size: 15px;
  color: #222;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 40px;
}

/*사이트맵*/
.sitemapTopbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 30px;
}

.sitemapTopbtn li a {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 16;
  color: #222;
  font-weight: 400;
  text-align: center;
  line-height: 50px;
  border: 1px solid #ddd;
}

.sitemapTopbtn li a:hover {
  font-size: 16;
  color: #f42539;
  font-weight: 400;
  text-align: center;
  line-height: 50px;
  border: 1px solid #f42539;
}

.sitemapList > li {
  margin-bottom: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sitemapList > li > p.tit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.sitemapList > li > ul.subList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sitemapList > li > ul.subList > li a:hover {
  display: block;
  color: #f42539;
  text-decoration: underline;
}

/* PC */
@media all and (min-width: 769px) {
  html, body {
    position: relative;
  }
  #search, .allMnwarp {
    top: 0px;
  }
  header {
    border-bottom: 1px solid #ddd;
  }
  .pageWarp {
    width: 1400px;
    margin: 0 auto;
  }
  .pageTit {
    margin: 130px 0px 60px;
  }
  .pageTit p {
    margin: 20px 0px 10px;
    font-size: 18px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 1;
  }
  .pageTit p span {
    font-weight: 600;
  }
  .pageTit p img {
    margin: 5px 10px 0px;
  }
  #create, #artist, #ntcBoard, #qna, #memberTicket, #map {
    margin-bottom: 15%;
  }
  .lendCon p, .createCon p, .artistCon p {
    font-size: 16px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
  }
  .lendCon .lendDown, .createCon .lendDown, .artistCon .lendDown {
    font-size: 16px;
    color: #222;
    font-weight: 400;
    text-align: center;
    line-height: 35px;
  }
  /*두다재단*/
  .ddIntroCon h3, .ddFacilityCon h3, .ddSeatCon h3 {
    font-size: 30px;
    color: #222;
    font-weight: 500;
    text-align: left;
    line-height: 1;
    margin-top: 40px;
  }
  .ddIntroCon h4, .ddFacilityCon h4, .ddSeatCon h4 {
    font-size: 20px;
    color: #222;
    font-weight: 500;
    text-align: left;
    line-height: 1;
    margin: 10px 0px 40px;
  }
  div.introTxt > p {
    font-size: 16px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 1.6;
  }
  ul.facilityArea li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  ul.facilityArea li:first-child {
    margin-top: 0;
  }
  ul.facilityArea li > div {
    width: 700px;
    height: 350px;
  }
  ul.facilityArea li .txtArea {
    padding-left: 50px;
  }
  ul.ddSeatArea > li {
    width: 740px;
    margin: 0 auto;
  }
  /*공연/전시 일정*/
  #List div.listWarp {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #List div.perform {
    width: 700px;
    height: 320px;
    margin-bottom: 80px;
  }
  #List div.perform hr {
    display: none;
  }
  #List div.perform ul.inner .listBtn {
    width: 100%;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #List div.perform ul.inner .listBtn > a {
    width: 146px;
    height: 47px;
  }
  #List div.perform ul.inner .listBtn > a img {
    vertical-align: middle;
    margin: -5px 5px 0px 0px;
  }
  #List div.perform ul.inner .listBtn > a br {
    display: none;
  }
  #List div.perform ul.inner .listBtn > a:nth-child(1) {
    margin-right: 20px;
    border: 1px solid #f93822;
    font-size: 16;
    color: #f93822;
    font-weight: 400;
    text-align: center;
    line-height: 47px;
  }
  #List div.perform ul.inner .listBtn > a:nth-child(1)::after {
    content: '';
    display: block;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #f93822;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  #List div.perform ul.inner .listBtn > a:nth-child(1):hover {
    color: #fff;
  }
  #List div.perform ul.inner .listBtn > a:nth-child(1):hover::after {
    width: 100%;
    z-index: -1;
  }
  #List div.perform ul.inner .listBtn > a:nth-child(2) {
    border: 1px solid #222;
    font-size: 16;
    color: #222;
    font-weight: 400;
    text-align: center;
    line-height: 47px;
  }
  #List div.perform ul.inner .listBtn > a:nth-child(2)::after {
    content: '';
    display: block;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #222;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  #List div.perform ul.inner .listBtn > a:nth-child(2):hover {
    color: #fff;
  }
  #List div.perform ul.inner .listBtn > a:nth-child(2):hover::after {
    width: 100%;
    z-index: -1;
  }
  /*공연/전시 상세페이지*/
  #pageDetail {
    margin-bottom: 60px;
  }
  #pageDetail > div.infoWarp > ul.deatilInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(1) {
    width: 510px;
    height: 680px;
  }
  #pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) {
    margin-left: 70px;
    width: 100%;
  }
  #pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .pdSchedule li > p:first-child {
    width: 120px;
    font-size: 16px;
    color: #222;
    font-weight: 500;
    text-align: left;
    line-height: 1.6;
  }
  #pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .pdAlert br {
    display: none;
  }
  #pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .pdAlert > li:last-child {
    letter-spacing: -0.5px;
  }
  #pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .detailBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .detailBtn > a {
    width: 280px;
    height: 70px;
    margin-right: 50px;
  }
  #pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .detailBtn > a br {
    display: none;
  }
  #pageDetail > div.conWarp {
    width: 100%;
    height: 1400px;
    margin-top: 100px;
  }
  #pageDetail .tab_menu {
    height: 80px;
  }
  #pageDetail .tab_menu li {
    width: 150px;
    height: 70px;
    font-size: 20px;
    color: #222;
    font-weight: 400;
    text-align: center;
    line-height: 80px;
  }
  #pageDetail .tab_con #firstCon {
    font-size: 16px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
  }
  #pageDetail .tab_con #secondCon img, #pageDetail .tab_con #thirdCon img, #pageDetail .tab_con #fourthCon img {
    width: 1000px;
  }
  /*대관*/
  #lendGuide .lednPay th {
    font-size: 16px;
    color: #222;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
  }
  #lendGuide .lednPay td {
    font-size: 16px;
    color: #222;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
  }
  .guideList > li {
    font-size: 16px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 2;
  }
  /*창작자 지원*/
  .artistWarp {
    width: 100%;
  }
  .artistWarp .artistCon > ul > li {
    width: 30%;
    height: 200px;
    margin-bottom: 80px;
  }
  .artistWarp .artistCon > ul > li > div {
    margin-left: 40px;
  }
  /*공지사항*/
  #ntcBoard {
    width: 100%;
  }
  .ntcBoardSch {
    width: 100%;
    height: 60px;
  }
  .ntcBoardSch form {
    width: 100%;
  }
  .ntcBoardSch .nschTxt {
    width: 700px;
    font-size: 16px;
    color: #666;
    font-weight: 400;
    text-align: left;
    line-height: 1;
  }
  .ntcBoardCon .ntcBoardList {
    width: 100%;
  }
  .ntcBoardCon .ntcBoardList tr {
    height: 60px;
  }
  .ntcBoardCon .ntcBoardList tr:first-child ~ tr td {
    border-top: 1px solid #ddd;
  }
  .ntcBoardCon .ntcBoardList tr td:first-child {
    border-left: 1px solid transparent;
  }
  .ntcBoardCon .ntcBoardList tr td:last-child {
    border-right: 1px solid transparent;
  }
  .ntcBoardCon .ntcBoardList tr:hover td {
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
  }
  .ntcBoardCon .ntcBoardList tr:hover td:first-child {
    border-left: 1px solid #222;
  }
  .ntcBoardCon .ntcBoardList tr:hover td:last-child {
    border-right: 1px solid #222;
  }
  .ntcBoardCon .ntcBoardList tr:first-child ~ tr:hover td {
    border-top-color: #222;
  }
  .ntcBoardCon .ntcBoardList td:first-child {
    width: 130px;
  }
  .ntcBoardCon .ntcBoardList td:nth-child(2) {
    width: auto;
  }
  .ntcBoardCon .ntcBoardList td:last-child {
    width: 150px;
  }
  .ntcBoardCon .ntcBoardList td.num, .ntcBoardCon .ntcBoardList td.date {
    font-size: 16px;
    color: #222;
    font-weight: 400;
    text-align: center;
    line-height: 60px;
    position: relative;
  }
  .ntcBoardCon .ntcBoardList td.tit {
    font-size: 16px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 60px;
  }
  .ntcBoardCon .ntcBoardList .ntcbg {
    width: 70px;
    height: 35px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    line-height: 35px;
  }
  /*자주묻는질문*/
  .qnaCon .qnaList {
    width: 100%;
  }
  .qnaCon .qnaList .question {
    font-size: 16px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 60px;
    padding-left: 50px;
  }
  .qnaCon .qnaList .question::before {
    padding-right: 50px;
  }
  .qnaCon .qnaList .question .qnaOpen {
    right: 50px;
  }
  .qnaCon .qnaList > .answer {
    padding: 40px 145px;
    position: relative;
  }
  .qnaCon .qnaList > .answer span {
    left: 115px;
  }
  /*회원/예매안내*/
  .memTiWarp br {
    display: none;
  }
  /*오시는길*/
  .mapCon > ul li > P:first-child {
    font-size: 16px;
    color: #222;
    font-weight: 500;
    text-align: left;
    line-height: 1;
  }
  .mapCon > ul li > P:last-child {
    font-size: 16px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 1;
  }
  .mapCon > ul li > P:last-child br {
    display: none;
  }
  /*개인정보처리방침 등*/
  .personalWarp {
    height: 700px;
  }
  .personalCon {
    width: 100%;
  }
  /*사이트맵*/
  .sitemapTopbtn > li {
    width: 20%;
  }
  .sitemapList > li {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sitemapList > li > p.tit {
    font-size: 20px;
    color: #222;
    font-weight: 600;
    text-align: left;
    line-height: 80px;
    width: 200px;
    border-top: 1px solid #f42539;
  }
  .sitemapList > li > p.tit::after {
    content: '';
    display: block;
    width: 7px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: -20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url(../images/page_arr.png) no-repeat;
  }
  .sitemapList > li > ul.subList {
    width: 1200px;
    border-top: 1px solid #ddd;
    padding-left: 50px;
  }
  .sitemapList > li > ul.subList > li a {
    font-size: 18px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 80px;
    width: 180px;
  }
  /*푸터*/
  footer {
    position: relative;
    margin-top: 250px;
  }
}

/* 모바일 */
@media all and (max-width: 768px) {
  header {
    border-bottom: 1px solid #222;
  }
  .pageWarp {
    width: 100%;
  }
  .pageTit {
    margin: 110px 0px 50px;
  }
  .pageTit p {
    display: none;
  }
  .pageTit hr.titLine {
    margin-top: 30px;
  }
  .perform, .lendWarp, .createWarp, .artistWarp, .ntcBoardWarp, .mapWrap, .qnaWarp, .memTiWarp, .ddIntroCon, .personalCon, .ethicsCon,
  .sitemapCon {
    margin: 0px 30px;
  }
  .lendCon p, .createCon p, .memTiCon p {
    font-size: 15px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
  }
  .lendCon .lendDown, .createCon .lendDown, .memTiCon .lendDown {
    font-size: 16px;
    color: #222;
    font-weight: 400;
    text-align: center;
    line-height: 35px;
  }
  /*두다재단*/
  .ddIntroWarp {
    width: 100%;
  }
  .ddIntroWarp > img {
    width: 100%;
  }
  .ddIntroCon h3, .ddFacilityCon h3, .ddSeatCon h3 {
    font-size: 28px;
    color: #222;
    font-weight: 500;
    text-align: left;
    line-height: 1;
    margin-top: 40px;
  }
  .ddIntroCon h4, .ddFacilityCon h4, .ddSeatCon h4 {
    font-size: 18px;
    color: #222;
    font-weight: 500;
    text-align: left;
    line-height: 1;
    margin: 10px 0px 40px;
    letter-spacing: -1px;
  }
  .ddIntroCon {
    margin-top: 50px;
  }
  div.introTxt > p {
    font-size: 15px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 1.6;
  }
  ul.facilityArea li:first-child {
    margin-top: 0;
  }
  ul.facilityArea li .txtArea {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 30px 0px;
  }
  ul.ddSeatArea li {
    width: 100%;
  }
  ul.ddSeatArea li > div.seatArea img {
    width: 100%;
  }
  ul.ddSeatArea hr {
    display: none;
  }
  ul.ddSeatArea li:last-child {
    margin-top: 60px;
  }
  /*공연/전시 일정*/
  #List div.perform {
    width: 100%;
  }
  #List div.perform hr {
    width: 100%;
    height: 1px;
    background: #ddd;
    border: 0;
    margin: 50px 0px 40px;
  }
  #List div.perform ul.inner .listBtn {
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #List div.perform ul.inner .listBtn > a {
    width: 85px;
    height: 85px;
    border-radius: 50%;
  }
  #List div.perform ul.inner .listBtn > a img {
    margin: 20px auto 5px;
  }
  #List div.perform ul.inner .listBtn > a img:nth-child(2) {
    display: none;
  }
  #List div.perform ul.inner .listBtn > a:nth-child(1) {
    border: 1px solid #f93822;
    font-size: 16;
    color: #f93822;
    font-weight: 400;
    text-align: center;
    line-height: 1;
    margin-bottom: 30px;
  }
  #List div.perform ul.inner .listBtn > a:nth-child(1):hover {
    color: #fff;
    background-color: #f93822;
  }
  #List div.perform ul.inner .listBtn > a:nth-child(2) {
    border: 1px solid #222;
    font-size: 16;
    color: #222;
    font-weight: 400;
    text-align: center;
    line-height: 1;
  }
  #List div.perform ul.inner .listBtn > a:nth-child(2):hover {
    color: #fff;
    background-color: #222;
  }
  /*공연/전시 상세페이지*/
  #pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(1) {
    width: 100%;
    height: auto;
    margin-top: -50px;
    text-align: center;
  }
  #pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(1) img {
    width: 100%;
  }
  #pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) {
    margin: 30px 30px 0px;
  }
  #pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .pdSchedule li > p:first-child {
    width: 100px;
    font-size: 16px;
    color: #222;
    font-weight: 500;
    text-align: left;
    line-height: 1;
  }
  #pageDetail > div.infoWarp > ul.deatilInfo > li:nth-child(2) .detailBtn > a {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
  }
  #pageDetail > div.conWarp {
    height: 1100px;
    margin: 100px 30px 0px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #pageDetail .tab_menu {
    height: 50px;
  }
  #pageDetail .tab_menu li {
    width: 25%;
    height: 60px;
    font-size: 18px;
    color: #222;
    font-weight: 400;
    text-align: center;
    line-height: 70px;
  }
  #pageDetail .tab_con #firstCon {
    font-size: 14px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
  }
  #pageDetail .tab_con #firstCon > p {
    width: 85%;
  }
  #pageDetail .tab_con #secondCon img, #pageDetail .tab_con #thirdCon img, #pageDetail .tab_con #fourthCon img {
    width: 100%;
  }
  /*대관, 창작자 지원*/
  #lendGuide .lednPay th, #create .lednPay th {
    font-size: 15px;
    color: #222;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
  }
  #lendGuide .lednPay td, #create .lednPay td {
    font-size: 15px;
    color: #222;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
  }
  #lendGuide .guideList > li, #create .guideList > li {
    font-size: 15px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 2;
  }
  /*창작자 지원 - 두다아티스트*/
  .artistWarp .artistCon > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .artistWarp .artistCon > ul > li {
    width: 44%;
    height: 100px;
    margin-bottom: 40px;
  }
  .artistWarp .artistCon > ul > li > img {
    width: 100px;
    height: 100px;
  }
  .artistWarp .artistCon > ul > li > div {
    margin-left: 15px;
  }
  .artistWarp .artistCon > ul > li > div .titBar {
    width: 50px;
    height: 5px;
    border: 0;
    background: #222;
    margin: 20px 0px 15px;
  }
  .artistWarp .artistCon > ul > li > div h4 {
    font-size: 16px;
    color: #222;
    font-weight: 600;
    text-align: left;
    line-height: 1;
    margin: 15px 0px 10px;
  }
  .artistWarp .artistCon > ul > li > div h4 p {
    font-size: 14px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
  }
  /*공지사항*/
  .ntcBoardSch {
    height: 60px;
  }
  .ntcBoardSch form {
    width: 100%;
    height: 100%;
  }
  .ntcBoardSch .nschTxt {
    width: 60%;
    font-size: 15px;
    color: #666;
    font-weight: 400;
    text-align: left;
    line-height: 1;
  }
  .ntcBoardCon .ntcBoardList tr {
    position: relative;
  }
  .ntcBoardCon .ntcBoardList tr:first-child ~ tr td:first-child,
  .ntcBoardCon .ntcBoardList tr:first-child ~ tr td:nth-child(2) {
    border-top: 1px solid #ddd;
  }
  .ntcBoardCon .ntcBoardList tr td:first-child {
    border-left: 1px solid transparent;
  }
  .ntcBoardCon .ntcBoardList tr td:last-child {
    border-right: 1px solid transparent;
  }
  .ntcBoardCon .ntcBoardList tr:hover td:first-child, .ntcBoardCon .ntcBoardList tr:hover td:nth-child(2) {
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
  }
  .ntcBoardCon .ntcBoardList tr:hover td:first-child:first-child, .ntcBoardCon .ntcBoardList tr:hover td:nth-child(2):first-child {
    border-left: 1px solid #222;
  }
  .ntcBoardCon .ntcBoardList tr:hover td:first-child:nth-child(2), .ntcBoardCon .ntcBoardList tr:hover td:nth-child(2):nth-child(2) {
    border-right: 1px solid #222;
  }
  .ntcBoardCon .ntcBoardList tr:first-child ~ tr:hover td {
    border-top-color: #222;
  }
  .ntcBoardCon .ntcBoardList td:first-child {
    width: 20%;
  }
  .ntcBoardCon .ntcBoardList td:nth-child(2) {
    width: auto;
  }
  .ntcBoardCon .ntcBoardList td:last-child {
    width: auto;
  }
  .ntcBoardCon .ntcBoardList td.num, .ntcBoardCon .ntcBoardList td.date {
    font-size: 14px;
    color: #222;
    font-weight: 400;
    text-align: center;
    line-height: 60px;
    position: relative;
  }
  .ntcBoardCon .ntcBoardList td.date {
    position: absolute;
    left: 20%;
    bottom: -18%;
  }
  .ntcBoardCon .ntcBoardList td.tit {
    font-size: 14px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: -2;
    position: relative;
  }
  .ntcBoardCon .ntcBoardList td.tit > a {
    position: absolute;
    top: 14px;
  }
  .ntcBoardCon .ntcBoardList .ntcbg {
    width: 55px;
    height: 30px;
    background: #222;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
  }
  /*자주묻는질문*/
  .qnaCon .qnaList {
    width: 100%;
  }
  .qnaCon .qnaList .question {
    font-size: 15px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 60px;
    padding-left: 20px;
  }
  .qnaCon .qnaList .question::before {
    padding-right: 15px;
  }
  .qnaCon .qnaList .question .qnaOpen {
    right: 20px;
  }
  .qnaCon .qnaList > .answer {
    padding: 30px 50px;
    position: relative;
  }
  .qnaCon .qnaList > .answer span {
    left: 25px;
  }
  /*오시는길*/
  .mapCon > ul li > P:first-child {
    font-size: 15px;
    color: #222;
    font-weight: 500;
    text-align: left;
    line-height: 1;
  }
  .mapCon > ul li > P:last-child {
    font-size: 15px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 1;
  }
  /*개인정보처리방침 등*/
  .personalWarp {
    height: 1180px;
  }
  .personalCon > div {
    margin-top: 50px;
  }
  /*사이트맵*/
  .sitemapTopbtn {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sitemapTopbtn li {
    width: 45%;
    margin-bottom: 20px;
  }
  .sitemapList > li {
    height: auto;
    border-top: 1px solid #f42539;
  }
  .sitemapList > li > p.tit {
    font-size: 20px;
    color: #222;
    font-weight: 600;
    text-align: left;
    line-height: 1;
    margin: 20px 10px 15px;
  }
  .sitemapList > li > ul.subList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 25px;
    position: relative;
  }
  .sitemapList > li > ul.subList::before {
    content: '';
    display: block;
    width: 7px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 10px;
    background: url(../images/page_arr.png) no-repeat;
  }
  .sitemapList > li > ul.subList > li a {
    font-size: 16px;
    color: #222;
    font-weight: 400;
    text-align: left;
    line-height: 2;
    width: 125px;
    height: 40px;
  }
  /*푸터*/
  footer {
    z-index: 9999;
    margin-top: 200px;
  }
}
/*# sourceMappingURL=sub.css.map */